footer{
    background-color: rgb(0, 0, 0);
    display: flex;
}
.descripcionPie{
    @include width;
    padding: 2.5rem 2.5rem 2.5rem 3.75rem;
    text-align: center;
    font-family: $font-poppins;
    font-weight: bold;
    color: white;
}
.contactoPie{
    @include width;
    padding: 5rem 2.5rem 2.5rem 2.5rem;
    text-align: center;
    font-family: $font-poppins;
    font-weight: bold;
    color: white;
    h2{
        font-family: 'Bayon', sans-serif;
    }
}
.info-pie{
    width: 100%;
}