.header-404{

    background-color: green;
}
.img-logo-404{
    margin-left: 3.75rem;
}

.titulo-general{
    h1{
        font-size: 4.375rem;
    }
    h2{
        font-family:$font-poppins;
        font-size: 3.125rem;
        text-align: center;

        color: white;
    }
}