.sectionPrincipal{
    display: flex;
    .titulo-parrafo-principal{
        @include width;
        padding: 5rem 2.5rem 2.5rem 2.5rem;
        text-align: center;
        font-family: 'Bayon', sans-serif;
    }
    .parrafo-principal{
        @include width;
        padding: 2.5rem;
        text-align: justify;
        font-family:$font-poppins;
        font-weight: bold;
    }
}



.row{
    margin: 1.25rem;
}
.card{
    width: 30%;
    margin: 0 auto;
    padding: 2.5rem;
    text-align: center; 
    box-shadow: 0 0 .625rem rgb(186, 69, 94);
    border-radius: 1rem;
}
.card-body{
    font-family: 'Bayon', sans-serif;
    p{
        font-family: $font-poppins;
        font-weight: bold;
    }
}
.terceraSection{
    display: flex;
    justify-content: space-around;
    margin:3.125rem;
    padding: 3.125rem;
    .card-texto{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        width: 50%;
        p{
            font-family: $font-poppins;
            font-weight: bold;
        }
        h2{
            font-family: 'Bayon', sans-serif;
        }
    }
}


.img1{
    display: flex;
    width: 31.25rem;
}
@import "../components/button-index"