@media(max-width:321px){
    /*header index*/
.titulo-general{
    h1{
        font-size: 2rem;
    }
    p{
        font-size: .9375rem;
    }
}
/*main index*/
.sectionPrincipal{ margin: 0 }
.terceraSection {
    .card-texto{
        @include block;
    }
}
/*main 404*/
.titulo-general{
    h1{
        font-size: 4rem;
    }
    h2{
        font-size: 2rem;
    }
}
/*footer general*/
.descripcionPie{
display: none;
}
.contactoPie{
    display: block;
    width: 100%;
}
}