/*tipografias*/
@import url("https://fonts.googleapis.com/css2?family=Bayon&display=swap");
@import url("https://fonts.googleapis.com/css2? family= Poppins:wght@300 & display=swap");
/* font-family: 'Bayon', sans-serif;
font-family: 'Poppins', sans-serif; */
/*reset*/
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box; }

/*codigo*/
/*header*/
.active {
  border-bottom: 0.3125rem solid #ba455e; }

.header {
  background-image: url("");
  background-size: cover; }
  .header div {
    padding: 10vh 0; }
    .header div p {
      text-align: center;
      font-size: 1.25rem;
      color: white;
      font-family: 'Poppins', sans-serif;
      font-weight: bold; }
    .header div h1 {
      text-align: center;
      letter-spacing: .25rem;
      font-size: 3.125rem;
      font-family: 'Bayon', sans-serif;
      color: #ba455e; }

.img-logo {
  width: 100%;
  height: 100%; }

.navbar {
  display: flex;
  justify-content: space-around;
  align-items: center; }

.navbar .container {
  justify-content: space-between; }

.navbar-collapse {
  flex-grow: 0; }
  .navbar-collapse ul {
    list-style: none;
    display: flex;
    gap: 1.25rem;
    font-family: 'Bayon', sans-serif; }
  .navbar-collapse li a {
    text-decoration: none;
    color: white;
    font-size: 1.25rem; }

/*main index*/
